* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
}
i,
svg {
  pointer-events: none;
}
button {
  outline: none;
}

.sequencer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.kick-track,
.snare-track,
.hihat-track {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.controls {
  margin: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.controls h1 {
  width: 8rem;
  font-size: 2.4rem;
}
.controls button {
  padding: 1rem;
  cursor: pointer;
  border: none;
  background: rgb(133, 131, 131);
  font-size: 1.6rem;
  color: white;
  transition: all 0.5s ease;
}
.mute.active {
  background: rgb(70, 68, 68);
}
.controls select {
  padding: 1rem;
  font-size: 1.6rem;
  width: 15.2rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}

.pad {
  width: 6rem;
  height: 6rem;
  margin: 1rem 0.8rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.kick-pad {
  background: rgb(181, 252, 252);
}
.snare-pad {
  background: rgb(238, 243, 168);
}
.hihat-pad {
  background: rgb(243, 168, 224);
}
.kick-pad.active {
  background: rgb(15, 245, 245);
}
.snare-pad.active {
  background: rgb(229, 243, 26);
}
.hihat-pad.active {
  background: rgb(241, 44, 192);
}

.play {
  padding: 1rem 3rem;
  border: none;
  cursor: pointer;
  background: rgb(70, 68, 68);
  color: white;
  margin-top: 5rem;
  font-size: 1.8rem;
}

.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  width: 100%;
  padding: 0.2rem;
  margin: 1rem 0;
  -webkit-appearance: none;
  position: relative;
  background: rgb(70, 68, 68);
  cursor: pointer;
  border-radius: 1rem;
  outline: none;
}
.tempo p {
  font-size: 1.8rem;
  margin-top: 2rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
